body{
    background-color: aliceblue;
}

/* Header Area */
#header_area{
    background-color: red;
    padding:  0;
    margin: 0;
    width: 100%;
    display: block;
}
#header_area .col-md-3 .logo img{
    width: 40%;
}
#header_area .col-md-6{
    margin: 20px 0;
}
#header_area .col-md-6 ul{
    list-style: none;
    display: flex;
    justify-content: center;
}
#header_area .col-md-6 ul li{
    margin: 0 20px;
}
#header_area .col-md-6 ul li a{
    text-decoration: none;
    color: white;
    padding: 10px 20px;
}
#header_area .col-md-6 ul li a:hover{
    color: yellow;
}