body{
    background-color: aliceblue;
}

/* Header Area */
#header_area{
    background-color: red;
    margin: 0;
    padding: 0;
    text-align: center;
}
#header_area .col-md-3 .logo img{
    width: 40%;
}
.menu_area{
    margin: 20px 0;
    text-align: center;
}
.menu_area ul{
    list-style: none;
    display: flex;
    justify-content: center;
    text-align: center;
}
.menu_area ul li{
    margin:0 20px;
}
.menu_area ul li a{
    text-decoration: none;
    padding:10px 20px;
    color: #fff;
}
.menu_area ul li a:hover{
    color: blue;
}
/* Dropdown Menu */
.menu_area ul li ul{
    display: none;
    position: absolute;
    background: #fff;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    padding: 10px;
    z-index: 1000;
}
.menu_area ul li:hover ul{
    display: block;
}
.menu_area ul li ul li{
    margin: 0;
}
.menu_area ul li ul li a{
    color: #000;
    padding: 5px 10px;
    display: block;
}
.menu_area ul li ul li a:hover{
    background: #007BFF;
    color: #fff;
}
.button_area {
    text-align: center;
    margin: 20px 0;
}
.button_area a{
    text-decoration: none;
    padding: 10px 20px;
    background-color: #FB5607;
    color: #fff;
    border-radius: 5px;
}
.button_area a:hover{
    background-color: #FF6E0E;
}

/* Footer Area */
#footer_area{
    background-color: #001219;
    color: #fff;
}
.widgrt_area .col-sm-3{
    border-bottom: 1px solid #fff ;
    padding: 20px ;
    margin: 20px 0;
}
.widgrt_area .col-sm-3 img{
    width: 40%;
}
.widgrt_area .col-sm-3 h2{
    font-size: 25px;
    font-family: "PT Serif";
}
.widgrt_area .col-sm-3 ul{
    list-style: none;
    padding: 0;
}
.widgrt_area .col-sm-3 ul li{
    margin: 10px 0;
}
.widgrt_area .col-sm-3 ul li a{
    text-decoration: none;
    color: #fff;
}
.widgrt_area .col-sm-3 p{
    font-size: 18px;
}
.coopyright_area{
    color: #fff;
    text-align: center;
    padding: 10px 0;
}
#footer_section{
    background: #FB5607;
}
.footer_text h2{
    font-size: 60px;
    color: #fff;
    font-family: "PT Serif";
    margin-top: 125px;
}
.footer_text p{
    font-size: 16px;
    color: #fff;
}
.footer_text a{
    text-decoration: none;
    color: #FB5607;
    padding: 10px 20px;
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid #FB5607;
    font-weight: 600;
}
.footer_img{
    text-align: center;
}
.footer_img img{
    margin-top: -90px;
}

/* Custom Button */
.custom_button{
    background-color: #FB5607;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
}
.custom_button:hover{
    background-color: #FF6E0E;
    color: #fff;
}

/* Home Page */
#home_area{
    background-image: url(/img/home2.png);
    background-repeat: no-repeat;

    display: flex;
    align-items: center;
    justify-content: center;
}


#popular {
    background-color: #FFFFFC;
    font-family: "PT Serif";
    padding: 80px 0;
    height: 1130px;
}
#popular .title_text{
    text-align: center;
}
#popular .title_text h4 {
    font-size: 20px;
    color: #FDA22A;
    background-color: #FFECE1;
    padding: 8px 20px;
    text-transform: uppercase;
    width: 17%;
    margin: 0 auto;
    border-radius: 40px;
}
#popular .title_text h2{
    font-size: 65px;
    color: #000000;
    margin-top: 20px;
}
#popular .col-md-12 .main_contant{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.main_contant .sub_contant{
    margin: 0 20px;
    text-align: center;
}
.main_contant .sub_contant img {
    width: 100%;
    border-radius: 100px 100px  130px 130px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    transition: all 0.3s ease;
    z-index: -999999;
}
.main_contant .sub_contant .sub_text {
    padding: 28px 0;
    background-color: #FFFFFC;
    border-radius: 50% 50% 0 0;
    margin: -107px 76px;
    z-index: 10000 !important;
    position: absolute;
    text-align: center;
    width: 240px;
}
.main_contant .sub_contant .sub_text h5{
    font-size: 22px;
    color: #FB5607;
    
}
.main_contant .sub_contant .sub_text h4 {
    font-size: 14px;
    color: #FB5607;
    text-transform: uppercase;
    background-color: #FFECE1;
    padding: 10px 20px;
    border-radius: 40px;
    margin: 0 auto;
    width: 60%;
    margin-top: 20px;
}
.main_contant .sub_contant .sub_text h3{
    font-size: 34px;
    color: #000000;
    margin-top: 15px;
    font-weight: 600;
}
.main_contant .sub_contant .sub_text p{
    font-size: 18px;
    color: #262626;
    margin-top: 10px;
    font-weight: 400;
}
